.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addFriendsPage {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 25px;
  row-gap: 20px;
}

.addClassesPage {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 25px;
  row-gap: 20px;
}

.pageLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.sides{
  display:flex; 
  flex-direction:row;
}

.search {
  width: 75%;
  padding-bottom: 20px;
}

.list {
  width: 75%;
  padding-bottom: 20px;
}

ul li {
  font-size: 20px;
} 